* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c9c4c1;
  font-family: "Lora", serif;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #733015;
  border: 1px solid #f7efda;
  border-radius: 30px;
  padding: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #f7efda;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #800505;
  transform: scale(1.05);
}

/* LOST FILE SECTION */
.lostfile-section {
    background-color: #dfe1e2; 
    margin: 180px auto 60px auto;
    width: 70%;
    max-width: 800px;
    border-radius: 25px; 
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

label {
  background-color: #733015;
  color: #f7efda;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

label:hover {
  background-color: #800505;
  transform: scale(1.05);
}

input[type="file"] {
  display: none;
}

input[type="datetime-local"],
textarea {
  width: 80%;
  max-width: 600px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #733015;
  font-family: "Bricolage Grotesque", sans-serif;
  resize: none;
}

.submitbtn {
  padding: 12px 30px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: #800505;
  color: #f7efda;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitbtn:hover {
  background-color: #5e0303;
  transform: scale(1.05);
}

/* POPUP STYLING */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-content {
  background: #f7efda;
  color: #733015;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  animation: popIn 0.3s ease;
}

.popup-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.popup-content button {
  background: #733015;
  color: #f7efda;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup-content button:hover {
  background: #5e0303;
  transform: scale(1.05);
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
